
API_KEY=""
HOST_NAME=""
SERVER_URL="http://127.0.0.1:5000"

HOST_TOKEN_PATH="~/rcgamestats/host_token.txt"
TEAM_DIR="~/rcgamestats/teams"
STOP_FILE_PATH="~/rcgamestats/stop"
TEAMPORAL_DIR="~/rcgamestats/tmp"
LOG_DIR="~/rcgamestats/log"

USE_RCG2CSV="false"
USE_RCG2DATA="false"
CHANGE_CPUFREQ="false"

SLEEP_TIME=2
MAX_SLEEP_TIME=60
