
API_KEY=""
HOST_NAME=""
SERVER_URL="http://127.0.0.1:5000"

HOST_TOKEN_PATH="~/client/host_token.txt"
TEAM_DIR="~/client/teams"
STOP_FILE_PATH="~/client/stop"
TEMPORAL_DIR="~/client/tmp"
LOG_DIR="~/client"

USE_RCG2CSV="false"
USE_RCG2DATA="false"
CHANGE_CPUFREQ="false"

INITIAL_SLEEP_TIME=2
MAX_SLEEP_TIME=60
