{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Hosts{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Host Name</th>
            <th>IPv4</th>
            <th>Last Access</th>
            <th id="lborder">synch_mode Matches</th>
            <th>Total Runtime</th>
            <th>Average Runtime</th>
            <th id="lborder">normal_mode Matches</th>
            <th>Total Runtime</th>
            <th>Average Runtime</th>
            <th>Declines</th>
        </tr>
    </thead>
    <tbody>
        {% for host in hosts %}
        {% set total_s = host.total_runtime_synch_mode %}
        {% set average_s = 0 if host.total_matches_synch_mode == 0 else host.total_runtime_synch_mode / host.total_matches_synch_mode %}
        {% set total_n = host.total_runtime_normal %}
        {% set average_n = 0 if host.total_matches_normal == 0 else host.total_runtime_normal / host.total_matches_normal %}
        <tr>
            <td><a href="{{ url_for('host.show_detail', host_id=host.id) }}">{{ host.name }}</a></td>
            <td>{{ host.ip_v4_address }}</td>
            <td>{{ host.last_accessed_at }}</td>
            <td id="lborder">{{ host.total_matches_synch_mode }}</td>
            <td>{{ "%02d" % (total_s // 3600) }}:{{ "%02d" % ((total_s % 3600) // 60) }}:{{ "%02d" % (total_s % 60) }} </td>
            <td>{{ "%02d" % (average_s // 3600) }}:{{ "%02d" % ((average_s % 3600) // 60) }}:{{ "%02d" % (average_s % 60) }}</td>
            <td id="lborder">{{ host.total_matches_normal }}</td>
            <td>{{ "%02d" % (total_n // 3600) }}:{{ "%02d" % ((total_n % 3600) // 60) }}:{{ "%02d" % (total_n % 60) }} </td>
            <td>{{ "%02d" % (average_n // 3600) }}:{{ "%02d" % ((average_n % 3600) // 60) }}:{{ "%02d" % (average_n % 60) }}</td>
            <td>{{ host.decline_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}