FLASK_APP=server.app:create_app

APPLICATION_ROOT="/"

SECRET_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
WTF_CSRF_SECRET_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

ADMIN_USERNAME="xxxxx"
ADMIN_EMAIL="example@example.com"
ADMIN_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

GOOGLE_DOC_ID=
GOOGLE_KEY_PATH=

