FLASK_APP=server.app:create_app

APPLICATION_ROOT="/"

SECRET_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
WTF_CSRF_SECRET_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

MYSQL_USER='your_username'
MYSQL_PASSWORD='your_password'
MYSQL_HOST='localhost'
MYSQL_DATABASE='your_database'

ADMIN_USERNAME="your_admin_username"
ADMIN_PASSWORD="your_admin_password"
ADMIN_EMAIL="your_admin_email"
ADMIN_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

DISCORD_WEBHOOK_URL=

GOOGLE_DOC_ID=
GOOGLE_KEY_PATH=

