{% extends 'table-base.html' %}
{% block header %}
<h1>{% block title %}Teams{% endblock %}</h1>

{% endblock %}

{% block content %}
<div style="display: flex; justify-content: flex-start; margin-top: 10px; margin-bottom: 5px;"></div>
    <a href="{{ url_for('team.upload') }}">Upload a new team</a>
</div>
<div style="display: flex; justify-content: flex-start; margin-top: 10px; margin-bottom: 5px;">
    <a href="{{ url_for('team.show_archived') }}">Show Archived Teams</a>
</div>

<form action="{{ url_for('team.bulk_archive')}}" method="post" style="display: flex; align-items: flex-start;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button id="bulk-archive-button" type="submit" style="margin-right: 10px; margin-bottom: 10px; padding: 5px 10px;"
        disabled>Archive</button>
    <table class="tablesorter">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all" onclick="toggleCheckboxes(this)"></th>
                <th>Team Name</th>
                <th>Version</th>
                <th>Synch Mode</th>
                <th>Archive File</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td><input type="checkbox" name="team_ids" value="{{ team.id }}" onclick="checkCheckboxes()"></td>
                <td>{{ team.name }}</td>
                <td>{{ team.version }}</td>
                <td class="{% if team.synch_mode %}bg-true{% else %}bg-false{% endif %}">{{ team.synch_mode }}</td>
                <td>
                    <a href="{{ url_for('team.download', name=team.name, version=team.version) }}">
                        {{ team.archive_path | basename }}
                    </a>
                </td>
                <td>
                    {{ team.description }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<script>
    $(function() {
      $('table').tablesorter(
        {
          headers: {
            0: { sorter: false },
            3: { sorter: false },
            4: { sorter: false },
            5: { sorter: false }
          },
          sortList: [[1, 0]] // sort by second column in ascending order
        }
      );
    });

    function toggleCheckboxes(source) {
        checkboxes = document.getElementsByName('team_ids');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
        checkCheckboxes();
    }

    function checkCheckboxes() {
        var checkboxes = document.getElementsByName('team_ids');
        var button = document.getElementById('bulk-archive-button');
        var anyChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                anyChecked = true;
                break;
            }
        }
        button.disabled = !anyChecked;
    }

    document.addEventListener('DOMContentLoaded', function() {
        checkCheckboxes();
    });
</script>
{% endblock %}