{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Teams{% endblock %}</h1>
  <a class="action" href="{{ url_for('group.create') }}">Create a new group</a>
  <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
    {% if active_only %}
        <a href="{{ url_for('team.index', active_only=False) }}">Show All</a>
    {% else %}
        <a href="{{ url_for('team.index', active_only=True) }}">Show Active Only</a>
    {% endif %}
    </div>
{% endblock %}

{% block content %}
<table border="1">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Version</th>
            <th>Synch Mode</th>
            <th>Archive Pass</th>
            <th>Team Memo</th>
            <th>Is Active</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.version }}</td>
            <td class="{% if team.synch_mode %}bg-true{% else %}bg-false{% endif %}">{{ team.synch_mode }}</td>
            <td>{{ team.archive_path }}</td>
            <td>{{ team.memo }}</td>
            <td class="{% if team.is_active %}bg-true{% else %}bg-false{% endif %}">
                <form id="toggle-form-{{ team.id }}" action="{{ url_for('team.toggle_active', team_id=team.id) }}" method="post" style="display:none;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </form>
                <a href="#" onclick="event.preventDefault(); document.getElementById('toggle-form-{{ team.id }}').submit();">{{ team.is_active }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
