{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Team Upload{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: flex-start; margin-top: 10px; margin-bottom: 10px;">
    (*) fields are mandatory.
</div>
{% from "_formhelpers.html" import render_field %}
<form method="POST" action="{{ url_for('team.upload') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="existing_team_name">Team Name(*):</label>
        <div class="input-group">
            {{ render_field(form.existing_team_name) }}
            <span class="or-text">or</span>
            {{ render_field(form.new_team_name) }}
        </div>
    </div>
    {{ render_field(form.synch_mode) }}
    {{ render_field(form.version) }}
    {{ render_field(form.description) }}
    {{ render_field(form.archive_file) }}
    <br />
    {% for message in get_flashed_messages() %}
    <div style="color: blue;">
        {{ message }}
    </div>
    {% endfor %}
    {{ form.submit }}
</form>
{% endblock %}