{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}list{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
      <h2><a href="{{ url_for('select_match.select_team') }}">スケジューリング</a></h2>
    </div>
    <div>
      <h2><a href="{{ url_for('dbdisplay.show_teams') }}">チーム一覧を表示</a></h2>
    </div>
    <div>
      <h2><a href="{{ url_for('dbdisplay.show_group_matches') }}">対戦組み合わせを表示</a></h2>
    </div>
    <div>
      <h2><a href="{{ url_for('dbdisplay.show_matches') }}">対戦結果</a></h2>
    </div>
    <div>
      <h2><a href="{{ url_for('dbdisplay.show_hosts') }}">ホスト</a></h2>
    </div>
{% endblock %}