<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
    <h1>Teams</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Team ID</th>
                <th>Team Name</th>
                <th>Acceleration</th>
                <th>File Pass</th>
                <th>Team Memo</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.team_id }}</td>
                <td>{{ team.team_name }}</td>
                <td>{{ team.acceleration }}</td>
                <td>{{ team.filepass }}</td>
                <td>{{ team.team_memo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>