{% extends 'table-base.html' %}

{% block header %}
<h1>{% block title %}Allowed Emails{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Allowed Emails</h2>
<ul class="submenu">
    <li><a href="{{ url_for('auth.dashboard') }}">Back to dashboard</a></li>
</ul>

<form action="{{ url_for('auth.bulk_delete_allowed_emails')}}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="button-container">
        <button id="bulk-delete-button" type="submit" disabled>Delete</button>
    </div>
    <table id="email-table" class="tablesorter">
        <thead>
            <tr>
                <th class="table-cb"><input type="checkbox" id="select-all" onclick="toggleCheckboxes(this)"></th>
                <th>Email</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
            <tr>
                <td><input type="checkbox" name="email_ids" value="{{ email.id }}" onclick="checkCheckboxes()"></td>
                <td>{{ email.email }}</td>
                <td>{{ email.type.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('#email-table').tablesorter({
            headers: {
                0: { sorter: false, filter: false }
            },
            sortList: [[1, 0]], // sort by the second column in ascending order
        });
    });


    function toggleCheckboxes(source) {
        checkboxes = document.getElementsByName('email_ids');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
        checkCheckboxes();
    }

    function checkCheckboxes() {
        var checkboxes = document.getElementsByName('email_ids');
        var buttons = [
            document.getElementById('bulk-delete-button')
        ];
        var anyChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                anyChecked = true;
                break;
            }
        }
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].disabled = !anyChecked;
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        checkCheckboxes();
    });

</script>
{% endblock %}