{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}API Keys{% endblock %}</h1>
{% endblock %}

{% block content %}

    <h2>Your API Keys</h2>
    
    <p><a href="{{ url_for('auth.create_api_key') }}">Create a new API key</a></p>

    <p>Use these keys to authenticate your requests to the API.</p>
    
    <table style="width: 32em; border: 1px solid black; table-layout: auto;">
        <thead>
            <tr>
                <th>Key Value</th>
                <th>Delete</th>
            </tr>
        </thead>
      {% for key in current_user.api_keys %}
        <tr>
          <td>{{ key.key }}</td>
            <td>
                <form id="delete-form-{{ key.id }}" action="{{ url_for('auth.delete_api_key', key_id=key.id) }}" method="post" style="display:none;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </form>
                <a href="#" onclick="event.preventDefault(); if (confirm('Really delete?')) { document.getElementById('delete-form-{{ key.id }}').submit(); }">Delete</a>
            </td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
