{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}登録画面{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="{{ url_for('auth.register') }}" novalidate>
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <br>
        {{ form.submit }}
    </form>

    <p>すでにアカウントをお持ちの場合は、
        <a href="{{ url_for('auth.login') }}">こちら</a>
        からログインしてください。
    </p>
{% endblock %}