{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New User Registration{% endblock %}</h1>
{% endblock %}

{% block content %}
<ul class="submenu">
    <li><a href="{{ url_for('auth.dashboard') }}">Back to dashboard</a></li>
</ul>

    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="{{ url_for('auth.register') }}" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}
        {{ render_field(form.type)}}
        <br>
        {{ form.submit }}
    </form>

    <p>You already have an account? Please <a href="{{ url_for('auth.login') }}">login here</a>.</p>
{% endblock %}