{% extends 'table-base.html' %}
{% block header %}
  <h1>{% block title %}Hosts{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="bulk-action-form" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="button-container">
        <button id="bulk-reset-button" type="submit" formaction="{{ url_for('host.bulk_reset') }}"
            onclick="return confirm('Really reset selected hosts?')" disabled>Reset</button>
        <button id="bulk-delete-button" type="submit" formaction="{{ url_for('host.bulk_delete') }}"
            onclick="return confirm('Really delete selected hosts?')" disabled>Delete</button>
    </div>
<table id="host-table" class="tablesorter">
    <thead>
        <tr>
            <th style="width:3%;"><input type="checkbox" id="select-all" onclick="toggleCheckboxes(this)"></th>
            <th style="width:1%;">#</th>
            <th>ID</th>
            <th>Host Name</th>
            <th>IPv4</th>
            <th>Last Access</th>
            <th>Status</th>
            <th class="lborder">synch Matches</th>
            <th>Total Runtime</th>
            <th>Average Runtime</th>
            <th class="lborder">normal Matches</th>
            <th>Total Runtime</th>
            <th>Average Runtime</th>
            <th class="lborder">Declines</th>
            <th>Resets</th>
        </tr>
    </thead>
    <tbody>
        {% for host in hosts %}
        {% set status = get_host_status(host) %}
        {% set total_s = host.stats.total_runtime_synch_mode %}
        {% set average_s = host.stats.average_runtime_synch_mode() %}
        {% set total_n = host.stats.total_runtime_normal %}
        {% set average_n = host.stats.average_runtime_normal() %}
        <tr>
            <td><input type="checkbox" name="host_ids" value="{{ host.id }}" onclick="checkCheckboxes()"></td>
            <td></td>
            <td>{{ host.id }}</td>
            <td class="host-name"><a href="{{ url_for('host.show_detail', host_id=host.id) }}">{{ host.name }}</a></td>
            <td>{{ host.ip_v4_address }}</td>
            <td class="time">{{ host.last_accessed_at }}</td>
            <td class="{{ status }}">{{ status }}</td>
            <td class="lborder">{{ host.stats.total_matches_synch_mode }}</td>
            <td>{{ "%02d" % (total_s // 3600) }}:{{ "%02d" % ((total_s % 3600) // 60) }}:{{ "%02d" % (total_s % 60) }} </td>
            <td>{{ "%02d" % (average_s // 3600) }}:{{ "%02d" % ((average_s % 3600) // 60) }}:{{ "%02d" % (average_s % 60) }}</td>
            <td class="lborder">{{ host.stats.total_matches_normal }}</td>
            <td>{{ "%02d" % (total_n // 3600) }}:{{ "%02d" % ((total_n % 3600) // 60) }}:{{ "%02d" % (total_n % 60) }} </td>
            <td>{{ "%02d" % (average_n // 3600) }}:{{ "%02d" % ((average_n % 3600) // 60) }}:{{ "%02d" % (average_n % 60) }}</td>
            <td class="lborder">{{ host.stats.decline_count }}</td>
            <td>{{ host.stats.reset_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $.tablesorter.addWidget({
            id: "rownum",
            format: function(table) {
                // tbody の各行を取得し、２番目のセルに行番号を設定
                $("tbody tr", table).each(function(index) {
                    $(this).find("td:eq(1)").text(index + 1);
                });
            }
        });
    
        $("#host-table").tablesorter({
            headers: {
                0: { sorter: false, filter: false },
                1: { sorter: false, filter: false },
            },
            sortList: [[3, 0]], // ホスト名で昇順ソート
            widgets: ['filter', 'rownum'],
            widgetOptions: {
                filter_columnFilters: true,
                filter_cssFilter: 'tablesorter-filter',
                filter_ignoreCase: true,
            }
        });
    });

    function toggleCheckboxes(source) {
        checkboxes = document.getElementsByName('host_ids');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
        checkCheckboxes();
    }

    function checkCheckboxes() {
        var checkboxes = document.getElementsByName('host_ids');
        var anyChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                anyChecked = true;
                break;
            }
        }
        document.getElementById('bulk-reset-button').disabled = !anyChecked;
        document.getElementById('bulk-delete-button').disabled = !anyChecked;
    }

    document.addEventListener('DOMContentLoaded', function () {
        checkCheckboxes();
    });

</script>
{% endblock %}
