{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Select Team{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
    {% endfor %}
    <form id="teamForm" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="team_name1">Team 1:</label>
        <select name="team_name1" id="team_name1">
            {% for team in teams %}
            <option value="{{ team.name }}">{{ team.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="team_name2">Team 2:</label>
        <select name="team_name2" id="team_name2">
            {% for team in teams %}
            <option value="{{ team.name }}">{{ team.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="match_count">Match Count:</label>
        <input type="number" name="match_count" id="match_count" required>
        <br>
        <br>
        <label for="group_memo">Group Memo:</label>
        <textarea name="group_memo" id="group_memo" rows="4"></textarea>
        <br>
        <button type="submit">登録</button>
    </form>
    
    <script>
        document.getElementById('teamForm').onsubmit = function(event) {
            event.preventDefault(); 

            var team1 = document.getElementById('team_name1').value;
            var team2 = document.getElementById('team_name2').value;
            var matchCount = document.getElementById('match_count').value;
            var groupMemo = document.getElementById('group_memo').value;

            if (team1 === team2) {
                alert('「Team1」と「Team2」が重複しています.');
                return;
            }
            if (matchCount <= 0)
            {
                alert('0以下の数字は使用できません');
                return;
            }
            var confirmation = confirm(`この内容でよろしいですか？\n"${team1}" vs "${team2}" を ${matchCount} 試合`);

            if (confirmation) {
                this.submit();
            }
        };
    </script>
{% endblock %}
