{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Group Matches Detail{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Googleスプレッドシートへアップロードするボタンを追加 -->
<div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
    <form action="{{ url_for('dbdisplay.upload_to_google_sheet', group_id=group_id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">Upload to Google Spreadsheet</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>Group ID</th>
            <th>Match Index</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Left Team</th>
            <th>Right Team</th>
            <th>Left Score</th>
            <th>Right Score</th>
            <th>Host Name</th>
            <th>Processed</th>
            <th>Log File</th> 
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
        <tr>
            <td>{{ match.group_id }}</td>
            <td>{{ match.match_index }}</td>
            <td>{{ match.start_time }}</td>
            <td>{{ match.end_time }}</td>
            <td>{{ match.left_team }}</td>
            <td>{{ match.right_team }}</td>
            <td>{{ match.left_score }}</td>
            <td>{{ match.right_score }}</td>
            <td>{{ match.host_name }}</td>
            <td>
                {% if match.processed == 'in progress' %}
                <a href="{{ url_for('dbdisplay.group_reset_match', match_id=match.match_id) }}" onclick="return confirm('{{ match.match_id }}を初期化しますか？');">in progress</a>
                {% else %}
                    {{ match.processed }}
                {% endif %}
            </td>
            <td><a href="{{ url_for('dbdisplay.match_log', match_id=match.match_id) }}" target="_blank">{{ match.log_file }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}