{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Matches{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Match ID</th>
            <th>Group ID</th>
            <th>Match Index</th>
            <th>Host Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Left Team</th>
            <th>Right Team</th>
            <th>Left Score</th>
            <th>Right Score</th>
            <th>Processed</th>
            <th>Log File</th> <!-- 新しいカラム -->
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
        <tr>
            <td>{{ match.match_id }}</td>
            <td>{{ match.group_id }}</td>
            <td>{{ match.match_index }}</td>
            <td>{{ match.host_name }}</td>
            <td>{{ match.start_time }}</td>
            <td>{{ match.end_time }}</td>
            <td>{{ match.left_team }}</td>
            <td>{{ match.right_team }}</td>
            <td>{{ match.left_score }}</td>
            <td>{{ match.right_score }}</td>
            <td>{{ match.processed }}</td>
            <td><a href="{{ url_for('static', filename='logs/' ~ match.log_directory_name ~ '/' ~ match.log_file) }}" target="_blank">{{ match.log_file }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}