{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Teams{% endblock %}</h1>
  <a class="action" href="{{ url_for('select_match.select_team') }}">スケジューリング</a>
{% endblock %}

{% block content %}
<table border="1">
    <thead>
        <tr>
            <th>Team ID</th>
            <th>Team Name</th>
            <th>Acceleration</th>
            <th>File Pass</th>
            <th>Team Memo</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>{{ team.team_id }}</td>
            <td>{{ team.team_name }}</td>
            <td>{{ team.acceleration }}</td>
            <td>{{ team.filepass }}</td>
            <td>{{ team.team_memo }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
