{% extends 'table-base.html' %}
{% block header %}
<h1>{% block title %}Archived Groups{% endblock %}</h1>
{% endblock %}

{% block content %}
<ul class="submenu">
    <li><a href="{{ url_for('group.index') }}">Show Groups</a></li>
</ul>

<form id="bulk-action-form" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="button-container">
        <button id="bulk-unarchive-button" type="submit" formaction="{{ url_for('group.unarchive_groups') }}"
            disabled>Unarchive</button>
        <button id="bulk-delete-button" type="submit" formaction="{{ url_for('group.delete_groups') }}"
            disabled>Delete</button>
    </div>
    <table id="group-table" class="tablesorter">
        <thead>
            <tr>
                <th  class="table-cb"><input type="checkbox" id="select-all" onclick="toggleCheckboxes(this)"></th>
                <th>Name</th>
                <th>Created At</th>
                <th>Left Team</th>
                <th>Right Team</th>
                <th>Scheduled</th>
                <th>Completed</th>
                <th>Description</th>
                <th>Log Files</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups if not group.is_active %}
            <tr{% if group.status.value == 'approved' %} class="approved"{%elif group.status.value == 'rejected' %} class="rejected"{% elif group.status.value == 'under_review' %} class="under_review"{% endif %}>
                <td><input type="checkbox" name="group_ids" value="{{ group.id }}" onclick="checkCheckboxes()"></td>
                <td class="group-name"><a href="{{ url_for('group.show_group_matches', group_name=group.name) }}">{{ group.name }}</a></td>
                <td class="time">{{ group.created_at }}</td>
                <td>
                    {% if group.left_team %}
                    {{ group.left_team.name }}
                    {% else %}
                    <span class="error">Not found</span>
                    {% endif %}
                </td>
                <td>
                    {% if group.right_team %}
                    {{ group.right_team.name }}
                    {% else %}
                    <span class="error">Not found</span>
                    {% endif %}
                </td>
                <td>{{ group.matches.count() }}</td>
                <td>
                    {% set completed_count = completed_counts.get(group.id, 0) %}
                    {% if completed_count == group.matches.count() %}
                    <span class="success">{{ completed_count }}</span>
                    {% else %}
                    <span class="error">{{ completed_count }}</span>
                    {% endif %}
                </td>
                <td>{{ group.description }}</td>
                <td><a href="{{ url_for('group.show_group_logs', group_name=group.name) }}">Log File</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('#group-table').tablesorter({
            headers: {
                0: { sorter: false, filter: false },
                7: { sorter: false },
                8: { sorter: false, filter: false }
            },
            sortList: [[2, 1]], // sort by the third column in descending order
            widgets: ['filter'],
            widgetOptions: {
                filter_columnFilters: true,
                // class name applied to filter row and each input
                filter_cssFilter: 'tablesorter-filter',
                // Set this option to false to make the searches case sensitive
                filter_ignoreCase: true,

            }
        });
    });

    function toggleCheckboxes(source) {
        checkboxes = document.getElementsByName('group_ids');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
        checkCheckboxes();
    }

    function checkCheckboxes() {
        var checkboxes = document.getElementsByName('group_ids');
        var anyChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                anyChecked = true;
                break;
            }
        }
        document.getElementById('bulk-unarchive-button').disabled = !anyChecked;
        document.getElementById('bulk-delete-button').disabled = !anyChecked;
    }

    document.addEventListener('DOMContentLoaded', function () {
        checkCheckboxes();
    });
</script>
{% endblock %}