{% extends 'table-base.html' %}
{% block header %}
<h1>{% block title %}Groups{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: flex-start; margin-top: 10px; margin-bottom: 10px;">
    <a href="{{ url_for('group.create') }}">Create a new group</a>
    <span style="margin: 0 5px;">/</span>
    <a href="{{ url_for('group.create_roundrobin') }}">Create round robin</a>
</div>
<div style="display: flex; justify-content: flex-start; margin-top: 10px; margin-bottom: 10px;">
    <a href="{{ url_for('group.show_archived_groups') }}">Show Archived Groups</a>
</div>

<form action="{{ url_for('group.bulk_archive_groups') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="button-container">
        <button id="bulk-archive-button" type="submit" disabled>Archive</button>
    </div>
    <table class="tablesorter">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all" onclick="toggleCheckboxes(this)"></th>
                <th>Name</th>
                <th>Created At</th>
                <th>Left Team</th>
                <th>Right Team</th>
                <th># of Matches</th>
                <th>Description</th>
                <th>Log Files</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups if not group.is_archived %}
            <tr>
                <td><input type="checkbox" name="group_ids" value="{{ group.id }}" onclick="checkCheckboxes()"></td>
                <td><a href="{{ url_for('group.show_group_matches', group_name=group.name) }}">{{ group.name }}</a></td>
                <td>{{ group.created_at }}</td>
                <td>
                    {% if group.left_team %}
                    {{ group.left_team.name }} <br />
                    {{ group.left_team.version }}
                    {% else %}
                    <span class="error">Not found</span>
                    {% endif %}
                </td>
                <td>
                    {% if group.right_team %}
                    {{ group.right_team.name }} <br />
                    {{ group.right_team.version }}
                    {% else %}
                    <span class="error">Not found</span>
                    {% endif %}
                </td>
                <td>{{ group.number_of_matches }}</td>
                <td>{{ group.description }}</td>
                <td><a href="{{ url_for('group.show_group_logs', group_name=group.name) }}">Log File</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<script>
    $(function() {
      $('table').tablesorter(
        {
          headers: {
            0: { sorter: false },
            5: { sorter: false },
            6: { sorter: false },
            7: { sorter: false }
          },
          theme: 'bootstrap',
          widgets: ['uitheme', 'zebra'],
          widgetOptions: {
            uitheme: {
                    table: 'table table-bordered table-striped',
                    header: 'bootstrap-header',
                    icons: '',
                    iconSortNone: 'bootstrap-icon-unsorted',
                    iconSortAsc: 'glyphicon glyphicon-chevron-up',
                    iconSortDesc: 'glyphicon glyphicon-chevron-down'
                }
          }
        }
      );
    });

    function toggleCheckboxes(source) {
        checkboxes = document.getElementsByName('group_ids');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
        checkCheckboxes();
    }

    function checkCheckboxes() {
        var checkboxes = document.getElementsByName('group_ids');
        var button = document.getElementById('bulk-archive-button');
        var anyChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                anyChecked = true;
                break;
            }
        }
        button.disabled = !anyChecked;
    }

    document.addEventListener('DOMContentLoaded', function () {
        checkCheckboxes();
    });

</script>
{% endblock %}