<!doctype html>
<title>{% block title %}{% endblock %} - RCgame</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">RCgame</a></h1>
  <h1><a href="{{ url_for('select_match.select_team') }}">スケジューリング</a></h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>