{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Menu{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
      <h2><a href="{{ url_for('group.index') }}">Groups</a></h2>
        <h3><a href="{{ url_for('group.show_summaries') }}">Summary</a></h3>
        <h3><a href="{{ url_for('group.create') }}">Create a new group</a></h3>
        <h3><a href="{{ url_for('group.create_roundrobin') }}">Create round-robin</a></h3>
    </div>
    <div>
      <h2><a href="{{ url_for('team.index') }}">Teams</a></h2>
    </div>
    <div>
      <h2><a href="{{ url_for('host.index') }}">Hosts</a></h2>
    </div>
{% endblock %}